name: First CD Pipeline

on:
 workflow_dispatch:

jobs:
 deploy:
  runs-on: ubuntu-latest

  steps:
   - name: Download artifact
     uses: actions/download-artifact@v4
     with:
      name: build-output
      
   - name: Simulate deployment
     run: |
      echo "Deploying First artifact"
      cat output.txt
