name: First CI Pipeline

on:
 push:
  branches:
   - main

jobs:
 build:
  runs-on: ubuntu-latest

steps:
 - name: Checkout code
   uses: actions/checkout@v4

 - name: Show repo files
   run: ls -la

 - name: Simple build step
   run: echo "CI Pipeline is working"

 - name: Simulate Test
   run: echo "Test Passed"
