name: First CI Pipeline

on:
 push:
  branches:
   - main

jobs:
 build:
  runs-on: ubuntu-latest

steps:
 - name: Checkout code
   uses: actions/checkout@v3

 - name: Run first build step
   run: echo "Hello DevOps! Pipleline is working"
